
.contact {
    padding: 20px;
    background: linear-gradient(to bottom, #1B263B, #0F1A2B); 
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.contact__container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


.contact__title {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}


.contact__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.contact__form--group {
    text-align: left;
}

.contact__label {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 8px;
    margin-top: 8px;
}


.contact__input, .contact__textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #0F1A2B;
    color: #ffffff;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}


.contact__input::placeholder, 
.contact__textarea::placeholder {
    color: #d1d1d1;
}

.contact__input:focus, 
.contact__textarea:focus {
    border-color: #00FFFF; 
}


.contact__button {
    background-color: #00FFFF;
    color: #0F1A2B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact__button:hover {
    background-color: #ffffff;
    color: #00FFFF;
}